
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent scrolling within the container */
}

.content {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add some padding */
    background-color: var(--surface-ground); /* Use background color from theme */
    color: var(--text-color); /* Use text color from theme */
    overflow: auto; /* Allow scrolling within the content if needed */
}

.navbar {
    height: 8vh; /* Set height to 8% of viewport height */
    background-color: var(--surface-50); /* Lighter background color */
    display: flex;
    justify-content: space-around; /* Space items evenly */
    align-items: center; /* Center items vertically */
    position: fixed; /* Make the navbar fixed */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0 -2px 5px var(--shadow-color); /* Add shadow for depth */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Display items in a row */
}

.navbar li {
    text-align: center; /* Center text under icons */
    margin: 0 20px; /* Space between menu items */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color var(--transition-speed), color var(--transition-speed); /* Smooth transition for hover effects */
    padding: 10px; /* Add padding for better click area */
    border-radius: var(--border-radius); /* Use border radius from theme */
}

.navbar li:hover {
    background-color: var(--surface-200); /* Light gray on hover */
}

.navbar li.selected {
    background-color: transparent; /* Keep background transparent */
    color: var(--primary-color); /* Black for selected item text */
}

.navbar li span {
    display: block; /* Ensure text is below the icon */
    margin-top: 5px; /* Add space between icon and text */
} 