.switch-wrapper {
    position: relative;
    width: 3rem;
}

.switch-text {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: var(--surface-800);
    font-size: 0.8rem;
    pointer-events: none;
    z-index: 1;
}

.switch-0 {
    left: 0.6rem;
}

.switch-1 {
    right: 0.6rem;
}

.p-highlight .switch-text .switch-0 {
    color: var(--surface-200) !important;
}

.p-highlight .switch-text .switch-1 {
    color: var(--surface-800) !important;
}

.switch-text .switch-0 {
    color: var(--surface-800);
}

.switch-text .switch-1 {
    color: var(--surface-200);
}

/* Base state (off) */
.zone-switch .p-inputswitch-slider {
    background: var(--surface-100) !important;
}

/* On state */
.zone-switch.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: var(--surface-900) !important;
}

/* Switch handle */
.zone-switch .p-inputswitch-slider:before {
    background: var(--surface-0) !important;
}

.zone-switch {
    width: 3rem !important;
} 